body{ background:#ecf1f5;}
/*顶部白色条*/
.header_w{ height:50px; width:100%; background:#fff}
.header_w .head_mid{ width:1200px; height:50px; margin:0 auto}
.header_w .head_mid .logo1{ height:50px; width:100px; background:url(../images/icon_com.png) 0 -52px no-repeat; float:left; margin-right:24px;}
.header_w .head_mid .fast_menu{ float:left; height:50px; border-left:1px solid #309de6; border-right:1px solid #309de6; position:relative;}
.header_w .head_mid .fast_menu .line_l{ width:3px; height:12px; background:#309de6; position:absolute; left:-2px; top:19px;}
.header_w .head_mid .fast_menu .line_R{ width:3px; height:12px; background:#309de6; position:absolute; right:-2px; top:19px;}
.header_w .head_mid .fast_menu a{ padding-left:40px; width:64px; height:36px; float:left; margin:7px 0px; display:block; position:relative; text-align:left;font:500 16px/36px "Microsoft YaHei";color:#309de6; text-decoration:none}
.header_w .head_mid .fast_menu a.last{ margin-right:10px; width:80px}
.header_w .head_mid .fast_menu a.first{ margin-left:10px;}
.header_w .head_mid .fast_menu a:hover{ background:url(../images/menu_hover1.png) 0 0 no-repeat; color:#fff}
.header_w .head_mid .fast_menu a.last:hover{ background-image:url(../images/menu_hover2.png)}
.header_w .head_mid .fast_menu a i{ width:20px; height:20px; position:absolute; background:url(../images/icon_com.png) -2px -108px no-repeat; top:8px; left:14px;}
.header_w .head_mid .fast_menu a i.icons2{ background-position: -36px -108px}
.header_w .head_mid .fast_menu a i.icons3{ background-position: -68px -108px}
.header_w .head_mid .fast_menu a:hover i.icons1{ background-position:-2px -136px }
.header_w .head_mid .fast_menu a:hover i.icons2{ background-position: -36px -136px}
.header_w .head_mid .fast_menu a:hover i.icons3{ background-position: -68px -136px}
.header_w .head_mid .user_menu{ float:right; height:50px;}
.header_w .head_mid .user_menu li{ height:14px; float:right; padding:0 15px; margin-top:18px; border-left:1px #333 solid;font:500 12px/14px "SimSun";}
.header_w .head_mid .user_menu li.last{ border:none;}
.header_w .head_mid .user_menu li a{ color:#333; text-decoration:none;font:500 12px/14px "SimSun";}
.header_w .head_mid .user_menu li a:hover{ text-decoration: underline;color:#309de6;}
.header_w .head_mid .user_menu li i{ width:6px; height:10px; background:url(../images/icon_com.png) -92px -34px no-repeat;}
.banner1{ width:100%; height:382px; background:url(../images/banner.png) center center no-repeat; background-size: cover;}
/*融资项目--列表*/
.content{ margin:0 auto; width:1200px;}
.title_h1{ width:1200px; height:78px; border-bottom:2px solid #309de6; position:relative;}
.title_h1 h1{ padding:0 40px; width:208px; border-bottom:6px solid #309de6; position:absolute; left:0; bottom:-4px; height:60px;font:500 20px/70px "Microsoft YaHei"; color:#333; overflow:hidden}
.title_h1 h1 img{ padding-top:5px; padding-left:5px;}
.title_h1 .select_btn{ height:30px; width:100px; border-radius:15px;  cursor:pointer; text-align:center; line-height:30px; text-decoration:none; float:right; margin-left:5px; margin-top:42px}
.title_h1 .select_btn2{ display:none}
.project_list{ margin-top:24px; width:1200px;}
.project_list li{ border:1px solid #e0e0e0; position:relative; height:98px; padding:20px 0 20px 20px; width:1178px; background:#fff; margin-bottom:10px}
/*融资项目--列表--左侧文字按钮*/
.project_list li .detail_left{ width:660px; padding-right:60px; height:98px; float:left; border-right:1px dashed #e0e0e0; position:relative}
.project_list li .detail_left h2{ color:#333; height:22px;}
.project_list li .detail_left h2 a{color:#333; text-decoration:none;font:500 20px/22px "Microsoft YaHei";}
.project_list li .detail_left h2 a:hover{ text-decoration:underline;}
.project_list li .detail_left h2 i{ width:22px; height:22px;background:url(../images/icon_com.png) -4px -164px no-repeat; float:left}
.project_list li .detail_left .buy_num{ width:100px; padding-left:34px; height:30px; background:url(../images/buy_icon.png) 0 0 no-repeat;font:500 12px/30px "SimSun"; overflow:hidden;  position:absolute; top:0; right:60px;}
.project_list li .detail_left .txt1{ height:28px; width:280px; float:left; margin-top:48px; color:#666; text-align:left;font:500 14px/28px "SimSun";}
.project_list li .detail_left .txt1 span{ padding-right:30px;}
.project_list li .detail_left .btns_wrap{ height:28px; margin-top:48px; width:340px; float:right;}
.project_list li .detail_left .btns_wrap .proj_btn{ height:26px; width:90px; text-align:left; border:1px solid #666; border-radius:4px;font:500 12px/26px "SimSun"; cursor:pointer}
.project_list li .detail_left .btns_wrap  a{ color:#666; float:right; margin-left:32px; text-decoration:none}
.project_list li .detail_left .btns_wrap .proj_btn3{ margin-left:0;}
.project_list li .detail_left .btns_wrap .proj_btn:hover{ background-color:#f7f7f7}
.project_list li .detail_left .btns_wrap .proj_btn i{ height:26px; width:32px; float:left;background:url(../images/icon_com.png) -67px -198px no-repeat;}
.project_list li .detail_left .btns_wrap .proj_btn i.icons3{ background-position:6px -198px}
.project_list li .detail_left .btns_wrap .proj_btn i.icons2{ background-position:-31px -198px}
.project_list li .detail_left .btns_wrap .proj_btn2_click{ border-color:#ffba26;color:#ffba26}
.project_list li .detail_left .btns_wrap .proj_btn2_click i.icons2{ background-position:-31px -223px}
.project_list li .detail_left .btns_wrap .proj_btn3_click{ border-color:#309de6;color:#309de6}
.project_list li .detail_left .btns_wrap .proj_btn3_click i.icons3{ background-position:6px -223px}
.project_list li .detail_left .btns_wrap .proj_btn2_click:hover,.project_list li .detail_left .btns_wrap .proj_btn3_click:hover{ background-color:#fff}
/*融资项目--列表--右侧两圆圈*/
.project_list li .detail_right{ width:380px; height:98px; float:left;}
.project_list li .detail_right .subject1,.project_list li .detail_right .subject2{ width:98px; height:98px; margin-left:90px; float:left; overflow:hidden; text-align:center}
.project_list li .detail_right .subject1{ background:url(../images/list_img1.png) 0 0 no-repeat; color:#ffba26;font:500 14px/60px "Microsoft YaHei";}
.project_list li .detail_right .subject2{ background:url(../images/list_img2.png) 0 0 no-repeat; color:#309de6;font:500 16px/64px "Microsoft YaHei";}
.project_list li .detail_right .subject2 span{ font-size:12px;}
.project_list li .recommend{ width:60px; height:30px;background:url(../images/icon_com.png) 0px -252px no-repeat; position:absolute; right:-8px; top:6px; z-index:2}
.project_list li .check_box{ width:28px; height:28px; position:absolute; top:55px; right:20px; display:none }
.project_list li .check_box .check_icon{width:28px; height:28px; background:url(../images/icon_com.png) -34px -165px no-repeat;}
.project_list li .check_box .check_icon_no{ background-position:-72px -165px}
.project_list li .check_box .check_input{ position:absolute; top:0; left:0; width:28px; height:28px; filter:alpha(opacity:0);opacity: 0;cursor:pointer}
.project_list li .invalid{ width:1198px; height:138px; filter:alpha(opacity:30);opacity: .3; background:#000; position:absolute; left:0; top:0; z-index:1}
.project_list li .invalid_icon{ width:60px; height:30px;background:url(../images/icon_com.png) 0px -282px no-repeat; position:absolute; right:-7px; top:6px; z-index:2}
/*合作方*/
.coop_logo{ width:1200px; margin:30px 0;}
.coop_logo a{  display:block; width:300px; float:left; padding-bottom:28px; padding-top:6px; overflow:hidden}
.coop_logo a img{ height:30px}
/*底部*/
.footer1{ width:100%; min-width:1200px; height:84px; padding:20px 0; background:#292929;}
.footer1 .cont_mid{ width:1200px; height:84px; overflow:hidden; margin:0 auto;}
.footer1 .cont_mid .txt_left{ width:800px; float:left;}
.footer1 .cont_mid .txt_left p{ color:#ccc; font-size:12px; line-height:12px; padding-bottom:12px;}
.footer1 .cont_mid .wechat_right{ width:300px; height:84px; float:right;}
.footer1 .cont_mid .wechat_right .wechat_bg{ height:84px; width:92px; background:url(../images/wechat_bg.png) 0 0 no-repeat;  float:right; text-align:right}
.footer1 .cont_mid .wechat_right .wechat_bg img{ width:80px; padding-top:2px; padding-right:2px;}
.footer1 .cont_mid .wechat_right .wechat_icon{  width:34px; height:34px;  background:url(../images/icon_com.png) 0px -523px no-repeat; float:right; margin-top:25px; margin-right:5px;}
.footer1 .cont_mid .wechat_right .wechat_txt{  height:34px; line-height:34px; font-size:14px;color:#ccc;  text-align:right; float:right; margin-top:25px; margin-right:3px;}
.footer2{ width:100%; min-width:1200px; height:18px; padding:12px 0; background:#212121; color:#ffba26; line-height:18px; text-align:center}
.footer2 img{ height:18px;}
.footer2 span,.footer2 a{ padding-left:10px;}
/*侧栏帅选*/
.search_nomal{ width:60px; height:100%;  position:fixed; left:0; top:0; background:#292929; z-index:3}
.search_nomal .screen_t{ height:162px; width:36px; padding:20px 12px; margin-top:50px; background:#309de6; cursor:pointer}
.search_nomal .screen_t_img{height:162px; width:36px;background:url(../images/icon_com.png) -63px -251px no-repeat; }
.search_nomal .screen_t_icon1{ width:18px; height:10px;background:url(../images/icon_com.png) -1px -326px no-repeat; margin-left:20px;}
.search_nomal .screen_t_icon2{ width:40px; height:40px;background:url(../images/icon_com.png) -2px -346px no-repeat; margin-top:19px; margin-left:10px; cursor:pointer}
.search_nomal .screen_t_icon3{ width:40px; height:40px;background:url(../images/icon_com.png) -4px -400px no-repeat; margin-top:99px; margin-left:10px; cursor:pointer}

.search_box .search_title{ height:40px; width:300px;background:#309de6; position: relative;}
.search_box .search_title .search_title_icon1{ width:24px; height:24px;;background:url(../images/icon_com.png) -68px -456px no-repeat; float:left; margin-left:10px; margin-top:8px}
.search_box .search_title .search_title_icon2{ width:96px; height:24px;;background:url(../images/icon_com.png) -6px -490px no-repeat; float:left; margin-left:6px;margin-top:7px}
.search_box .search_title .search_title_icon3{ width:50px; height:50px;;background:url(../images/icon_com.png) -70px -519px no-repeat; float:right; cursor:pointer}
.search_box .search_title .search_title_icon4{ width:18px; height:10px;background:url(../images/icon_com.png) -1px -326px no-repeat; position:absolute; left:20px; bottom:-10px;}
.search_box .search_wrap{ width:320px; overflow-x:hidden; overflow-y:auto}
.search_box .search_wrap .search_cond{ width:300px; overflow:hidden}
.search_box .search_wrap .search_cond dl{ margin:0 10px; width:280px;height:80px; padding:15px 0}
.search_box .search_wrap .search_cond dl dt{ height:30px; background:url(../images/search_title.png) center center no-repeat; width:280px;font:500 14px/30px "Microsoft YaHei";  text-align:center}
.search_box .search_wrap .search_cond dl dd{ margin-left:0;width:84px; height:28px; border:1px solid #fff; border-radius:4px; margin-top:10px; margin-right:11px; float:left; text-align:center;font:500 12px/28px "SimSun"; cursor:pointer;  position:relative}
.search_box .search_wrap .search_cond dl dd.curr{ background:#309de6; border-color:#309de6;}
.search_box .search_wrap .search_cond dl dd.third{ margin-right:0;}
.search_box .search_wrap .search_cond dl dd .check_input{opacity: 0;cursor: pointer;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0); width:84px; height:28px; position:absolute; left:0; top:0; }
.search_box .search_wrap .search_cond dl.last_dl{ width:308px; margin-left:-4px}
.search_box .search_wrap .search_cond dl.last_dl dt{ margin-left:14px}
.search_box .search_wrap .search_cond dl.last_dl dd{ width:74px; height:28px; border:none;border-radius:0; padding:0 14px; margin-top:5px; margin-right:0px;}
.search_box .search_wrap .search_cond dl.last_dl dd span{ width:1px; height:12px; background:#fff; position:absolute; right:0; top:8px; display:block}
.search_box .search_wrap .search_cond dl.last_dl dd.curr{ background: url(../images/list_search.png) center bottom no-repeat; color: #309de6}
.search_box .search_wrap .search_cond .sum_btn{ width:120px; height:40px; border:none; margin:40px 9px 20px 90px; text-align:center; border-radius:8px;  cursor:pointer}