<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.obanks.ar.mapper.AssetsViewJournalMapper" >
  <resultMap id="BaseResultMap" type="cn.obanks.ar.model.AssetsViewJournal" >
    <id column="ID" property="id" />
    <result column="ASSET_ID" property="assetId" />
    <result column="VIEWER_ID" property="viewerId" />
    <result column="CREATED_BY" property="createdBy" />
    <result column="CREATED_DATE" property="createdDate" />
    <result column="UPDATED_BY" property="updatedBy" />
    <result column="UPDATED_DATE" property="updatedDate" />
    <result column="DELETED_FLAG" property="deletedFlag" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, ASSET_ID, VIEWER_ID, CREATED_BY, CREATED_DATE, UPDATED_BY, UPDATED_DATE, DELETED_FLAG
  </sql>
  
  <insert id="add" parameterType="cn.obanks.ar.model.AssetsViewJournal">
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		INSERT INTO ASSETS_VIEW_JOURNAL (
		ID,
		ASSET_ID,
		VIEWER_ID,
		CREATED_BY,
		CREATED_DATE,
		UPDATED_BY,
		UPDATED_DATE,
		DELETED_FLAG
		)
		VALUES
		(
		#{id},
		#{assetId},
		#{viewerId},
		#{createdBy},
		#{createdDate},
		#{updatedBy},
		#{updatedDate},
		#{deletedFlag}
		)
	</insert>
	
	<select id="searchSameView" parameterType="cn.obanks.ar.model.AssetsViewJournal" resultType="java.lang.Long" >
        SELECT COUNT(*) FROM ASSETS_VIEW_JOURNAL WHERE created_date > DATE_ADD(NOW(), INTERVAL -30 MINUTE) AND ASSET_ID= #{assetId} AND VIEWER_ID =#{viewerId}
	</select>
</mapper>