<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.obanks.ar.mapper.InvestorAllowedMapper">
	<resultMap id="BaseResultMap" type="cn.obanks.ar.model.InvestorAllowed">
		<id column="ID" property="id" />
		<result column="ASSET_ID" property="assetId" />
		<result column="TARGET" property="target" />
		<result column="CREATED_BY" property="createdBy" />
		<result column="CREATED_DATE" property="createdDate" />
		<result column="UPDATED_BY" property="updatedBy" />
		<result column="UPDATED_DATE" property="updatedDate" />
		<result column="DELETED_FLAG" property="deletedFlag" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, ASSET_ID, TARGET, CREATED_BY, CREATED_DATE, UPDATED_BY,
		UPDATED_DATE,
		DELETED_FLAG
	</sql>
	
	<insert id="add"  parameterType="cn.obanks.ar.model.InvestorAllowed">
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		INSERT INTO INVESTOR_ALLOWED (
		ID, 
		ASSET_ID, 
		TARGET, 
		CREATED_BY, 
		CREATED_DATE,
 		UPDATED_BY, 
		UPDATED_DATE, 
		DELETED_FLAG 
		)
		VALUES
		(
		#{id},
		#{assetId},
		#{target},
		#{createdBy},
		#{createdDate},
		#{updatedBy},
		#{updatedDate},
		#{deletedFlag}
		)
	</insert>

	<select id="load" parameterType="long" resultMap="BaseResultMap">
		SELECT * FROM
		INVESTOR_ALLOWED WHERE ASSET_ID = #{assetId}
	</select>
	
	<select id="detail" resultMap="BaseResultMap" parameterType="cn.obanks.ar.model.InvestorAllowed">
		select * from INVESTOR_ALLOWED WHERE DELETED_FLAG= 'N'
		<if test="assetId != null and assetId != ''">
			AND ASSET_ID = #{assetId}
		</if>
	</select>
	<select id="fundsdetail" resultMap="BaseResultMap" parameterType="cn.obanks.ar.model.InvestorAllowed">
		select * from INVESTOR_ALLOWED WHERE DELETED_FLAG= 'N'
		<if test="assetId != null and assetId != ''">
			AND ASSET_ID = #{assetId}
		</if>
	</select>
	<update id="delete" parameterType="cn.obanks.ar.model.InvestorAllowed">
		DELETE FROM  INVESTOR_ALLOWED where ASSET_ID=#{assetId}
	</update>
	
</mapper>