body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font-size:12px; font-family:"Microsoft YaHei","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%; color:#333;}
* { padding:0px; margin: 0px; }
html,body{ height:100%; width:100%}
a{text-decoration:none}
a:hover{text-decoration:underline}
em{font-style:normal}
li{list-style:none;}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0; table-layout:fixed;}
p{word-wrap:break-word}
select{outline:none;}
ul{list-style:none;}
input{ border:none}

/*閫氱敤瀹氫箟*/
.clearfix:after {clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }
.clearfix{*zoom:1;}/*缁橧E6娓呴櫎娴姩鐨�*/
.fl{ float:left;}
.fr{ float:right;}
.cls{clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }
.position_r{ position:relative}
.position_a{ position:absolute}

.box_shadow{-webkit-box-shadow:0 0 2px rgba(204, 204,204, .1);  
  -moz-box-shadow:0 0 2px rgba(204, 204,204, .1);  
  box-shadow:0 0 2px rgba(204, 204,204, .1); }
.btn{ width:60px; height:24px;font:500 12px/24px "SimSun";color:#fff; text-align:center; border-radius:2px; display:inline-block; border:none}
.btn_green{ background:#3fd183}

.btn_blue{ background:#309de6}
.btn_orange{ background:#ffba26}
.btn_green:hover{ background:#00d162}
.btn_blue:hover{ background:#008ae5}
.btn_orange:hover{ background:#ffaa00}
/*绔欏唴淇″脊绐�*/
#message_popup{width:391px;position:absolute;right:5px;top:66px;cursor:default;background:#fff;box-shadow:0 0 0 1px rgba(0,0,0,.05),0 1px 3px rgba(0,0,0,.2);font-size:14px; display:none}
#message_popup .bar{height:38px;line-height:38px;border-bottom:1px solid #ededed; text-indent:20px}
#message_popup .left{border-right:1px solid #ededed}
#message_popup .show-all{height:38px;line-height:38px;color:#999;background:#FAFAFA;display:block; text-align:center; font-size:12px; font-family:"SimSun"}
#message_popup .box{height:292px;overflow-y:auto;background:#fff;position:relative}
#message_popup .box.loading-box{background:url(/img/message_loading.gif) center 115px no-repeat white}
#message_popup .box .empty{font-size:16px;position:absolute;left:50%;top:50%;width:200px;height:50px;line-height:50px;margin:-25px 0 0 -100px;color:#999}
#message_popup .item{text-align:left;border-bottom:1px solid #ededed;position:relative;height:40px;padding:16px 60px 16px 30px;color:#999;background: url(../images/wt_mask.png) 0 0 repeat #F9F9F9;line-height:20px; display:block}
#message_popup .item .details .time{ padding-left:5px; text-decoration:none; font-size:12px}
#message_popup .unread{background:#f7fbff}
#message_popup .unread:after{content:"";display:block;position:absolute;width:7px;height:7px;border-radius:50%;background:#fa744b;left:10px;top:32px}

#message_popup .item .details{overflow:hidden;height:40px}
#message_popup .item .details .line{height:20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
#message_popup .item .brown-link{ color:#808080}
#message_popup .item .brown-link:hover{ color:#309de6}
#message_popup .item .details .main-content{color:#444}
#message_popup .triangle{position:absolute;width:20px;height:10px;right:36px;top:-10px;background:url(../images/message_arrow.svg) 0 0 no-repeat}
#message_popup i.arrow {position: absolute;width: 18px;height: 18px;right: 20px;top: 50%;margin-top: -9px;background: url(../images/msg_li.png) 0 0 no-repeat;}

/*找回密码*/
.fine_login {overflow:hidden; position:absolute; width:480px;left:50%;margin-left:-240px;text-align:left;margin-top:-230px;border-radius:6px 6px;z-index:111;top:50%; height:460px; background:#fff}
.fine_login .main {padding:0 38px 1px 37px;background:#fefefe;border-radius:0 0 6px 6px;}
.fine_login .header{height:30px;padding:25px 35px;line-height:30px;zoom:1;overflow:hidden;background:#fff; border-radius: 6px 6px 0 0;}
.fine_login .header h2 {font-size:18px;height:25px;color:#333;float:left; font-weight:500; }
.fine_login p { margin-bottom:20px; position:relative; width:405px;}
.fine_login p.err { color:#ff3924;margin-bottom:5px;visibility:hidden;margin-top:-20px;line-height:30px;}
.fine_login input {padding:10px 0; height:20px;line-height:20px;border:none; text-indent:20px;width:100%;border-radius:5px;font-family: "Microsoft YaHei";background:#f4f4f4; float:left}
.fine_login input:focus{outline:none; border-color:#309de6;}
.fine_login button { height:40px;line-height:40px;border:none;font-size:14px;color:#fff;width:100%;background:#309de6;cursor:pointer;border-radius:1px;font-family: 'Microsoft Yahei';outline:0;border-radius:5px;}
.fine_login button:hover { background:#008ae5; }
.fine_login .button_p{ margin-bottom:40px}
.fine_login .mscode2 input {width:294px;}
.fine_login .mscode2 .btn_input {width:100px;height:38px;font-size:14px;border-radius:3px 3px;line-height:38px; text-indent:0; padding:0;background:#309de6;cursor:pointer; color:#fff; text-align:center;float:right;}
.fine_login .mscode2 .btn_input:hover { background:#008ae5; }
.fine_login .mscode2 .btn_input.z-dis{background-color:#7ecafe;}
.fine_login .mscode2 {height:40px;}
.fine_login p.ckcode input{ width:294px;float:left}
.fine_login p.ckcode a {height:40px;width:100px;float:right;}
.fine_login p.ckcode img { height:36px; width:100px; padding-top:2px}
.fine_login p label.error_1{ position:absolute; top:40px; left:20px; color:#f00}

/*褰撳墠椤佃緭鍏ュ脊绐�*/
.modal{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 9997;background-color: #000;opacity: .6;filter: alpha(opacity=60);width:100%; display:none}
.pop_up_window{ background:#fff; position:fixed; width:492px; z-index:9999; display:block; left:50%; top:50%; margin-left:-246px; margin-top:-155px; display:none}
.pop_up_window h1{ background:#e1edfa; height:44px; text-align:center;  color:#309de6; font-size:14px; line-height:44px; font-weight:500}
.pop_up_window .txt1{ padding:20px 40px 0}
.pop_up_window .btn_bottom{ height:54px; text-align:center; background:#f7f7f7;}
.pop_up_window .btn_bottom .a_btn{ height:28px; border:none; background:#3fd183; border-radius:2px; margin-top:13px; text-align:center;font:500 12px/28px "Microsoft YaHei"; color:#fff; cursor:pointer; display:inline-block;  width:90px;}
.pop_up_window .btn_bottom .a_btn:hover{ background:#00d162; text-decoration:none}
.pop_up_window .btn_bottom a.m_l60{ margin-left:60px}
.pop_up_window2{position:fixed;z-index:9998;  border-radius:4px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99309de6', endColorstr='#99309de6');background:rgba(48,157,230,0.0);display:block}
.pop_up_window .pop_up_close{ width:22px; height:20px; text-align:center; line-height:20px; color:#309de6; text-decoration:none; position:absolute; top:10px; right:5px; cursor:pointer}
.pop_up_window .pop_up_close:hover{color:#055d98;}

.pop_up_window .form{overflow:Hidden;padding:30px 40px 24px;color:#333;}
.pop_up_window .form dl{width:100%;min-height:54px;position:relative;float:left;}
.pop_up_window .form dt{width:70px;float:left;height:34px;line-height:34px; font-size:14px}
.pop_up_window .form dd{float:left;line-height:34px;}
.pop_up_window .txt3{width:320px;height:14px;line-height:14px;padding:9px 5px;border:solid 1px #e5e5e5;background:#fcfcfc;float:left;}
.pop_up_window .txt2{ width:170px; margin-right:10px}
.pop_up_window .btn1{ background-color:#7ecafe; color:#fff;height:34px; width:120px; float:left; font-size:12px; cursor:pointer}
.pop_up_window .btn1:hover{ background:#309de6}
.pop_up_window .sent{ background:#aaa;color:#fff;height:34px; width:120px; float:left; font-size:12px; }
.pop_up_window .error{color:#fa744b;clear:both;height:34px;line-height:34px;font-size:12px; font-family:"SimSun"; text-align:left; padding-left:101px}
.m_l80{ margin-left:80px}
/*鍒嗛〉*/
.page{ position:relative;width:100%; height:28px; line-height:26px;text-align:right;margin:20px 0}
.page ul{width:auto;float:right; height:28px; line-height:26px; text-align:right; position:absolute;  left:50%;}
.page ul li{ display:inline-block;width:auto; float:left; margin-right:4px; color:#309de6}
.page ul li a{ padding:0px 13px;border:1px solid #309de6;width:auto; float:left; color:#309de6}
.page ul li a.curr{ display:block;background:#309de6; height:26px; color:#fff;}
.page ul li a:hover{ background:#309de6; color:#fff; text-decoration:none}
.userDate .page{ width:1130px; margin-right:35px}

/*jquery浠縜lert寮圭獥澧�*/
.pop_up_w{ background:#fff; position:fixed; width:400px; z-index:100; display:block}
.pop_up_w .tips_txt{ padding:40px 70px 40px 70px; font-size:14px; line-height:24px; text-align:center;}
.pop_up_w .btn_bott{ height:54px; text-align:center; background:#f7f7f7;}
.pop_up_w .btn_bott .a_btn{ height:28px; border:none; background:#3fd183; border-radius:2px; margin-top:13px; text-align:center;font:500 12px/28px "Microsoft YaHei"; color:#fff; cursor:pointer; display:inline-block;  width:90px;}
.pop_up_w .btn_bott .a_btn:hover{ background:#00d162; text-decoration:none}
.pop_up_w .btn_bott a.m_l60{ margin-left:60px}
.pop_up_w .pop_up_clo{ width:22px; height:20px; text-align:center; line-height:20px; color:#309de6; text-decoration:none; position:absolute; top:0px; right:0px; cursor:pointer}
.pop_up_w .pop_up_clo:hover{ background:#309de6;color:#fff;}
.pop_up_w .tips_icon{ width:50px; height:44px; background: url(../images/tips_icon.png) 0px 0px no-repeat; display:inline-block; position:absolute; left:30px;}
.pop_up_w .tips_icon2{background: url(../images/tips_icon2.png) 0px 0px no-repeat;}
.modal2{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 98;background-color: #000;opacity: .6;filter: alpha(opacity=60);width:100%;}
/*jquery浠縜lert寮圭獥鍑虹幇骞舵秷澶�*/
.succes_w{ background:#fff; position:fixed; width:250px; z-index:100; display:block;border: 1px solid #e0e0e0; height:40px; padding:20px 0;
-webkit-box-shadow:0 0 2px rgba(128, 128,128, .2);  
  -moz-box-shadow:0 0 2px rgba(128, 128,128, .2);  
  box-shadow:0 0 2px rgba(128, 128,128, .2); }
.succes_w .tips_txt{  font-size:14px; line-height:38px;float:left; margin-left:20px; color:#333;}
.succes_w .tips_icon{ width:40px; height:40px; background: url(../images/right_icon1.png) 0px 0px no-repeat; display:inline-block; float:left; margin-left:40px;}
.succes_w .tips_icon2{background: url(../images/right_icon2.png) 0px 0px no-repeat;}

chrome :
/* 璁剧疆婊氬姩鏉＄殑鏍峰紡 */
::-webkit-scrollbar {
    width: 12px;
}
/* 婊氬姩妲� */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 婊氬姩鏉℃粦鍧� */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}
/*椤堕儴*/
.header_w{ height:50px; width:100%; background:#292929}
.header_w .head_mid{ width:1200px; height:50px; margin:0 auto}
.header_w .head_mid .logo1{ height:50px; width:100px; background:url(../images/icon_com.png) 0 -52px no-repeat; float:left; margin-right:24px;}
.header_w .head_mid .fast_menu{ float:left; height:50px; border-left:1px solid #309de6; border-right:1px solid #309de6; position:relative;}
.header_w .head_mid .fast_menu .line_l{ width:3px; height:12px; background:#309de6; position:absolute; left:-2px; top:19px;}
.header_w .head_mid .fast_menu .line_R{ width:3px; height:12px; background:#309de6; position:absolute; right:-2px; top:19px;}
.header_w .head_mid .fast_menu a{ padding-left:40px; width:64px; height:36px; float:left; margin:7px 0px; display:block; position:relative; text-align:left;font:500 16px/36px "Microsoft YaHei";color:#309de6; text-decoration:none}
.header_w .head_mid .fast_menu a.last{ margin-right:10px; width:80px}
.header_w .head_mid .fast_menu a.first{ margin-left:10px;}
.header_w .head_mid .fast_menu a:hover{ background:url(../images/menu_hover1.png) 0 0 no-repeat; color:#fff}
.header_w .head_mid .fast_menu a.last:hover{ background-image:url(../images/menu_hover2.png)}
.header_w .head_mid .fast_menu a i{ width:20px; height:20px; position:absolute; background:url(../images/icon_com.png) -2px -108px no-repeat; top:8px; left:14px;}
.header_w .head_mid .fast_menu a i.icons2{ background-position: -36px -108px}
.header_w .head_mid .fast_menu a i.icons3{ background-position: -68px -108px}
.header_w .head_mid .fast_menu a:hover i.icons1{ background-position:-2px -136px }
.header_w .head_mid .fast_menu a:hover i.icons2{ background-position: -36px -136px}
.header_w .head_mid .fast_menu a:hover i.icons3{ background-position: -68px -136px}
.header_w .head_mid .user_menu{ float:right; height:50px;}
.header_w .head_mid .user_menu li{color:#fff;  height:14px; float:right; padding:0 15px; margin-top:18px; border-left:1px #fff solid;font:500 12px/14px "SimSun";}
.header_w .head_mid .user_menu li.last{ border:none;}
.header_w .head_mid .user_menu li a{ color:#fff; text-decoration:none;font:500 12px/14px "SimSun";}
.header_w .head_mid .user_menu li a:hover{ text-decoration: underline;color:#309de6;}
.header_w .head_mid .user_menu li i{ width:6px; height:10px; background:url(../images/icon_com.png) -92px -34px no-repeat;}
/*搴曢儴*/
.footer1{ width:100%; min-width:1200px; height:84px; padding:20px 0; background:#292929;}
.footer1 .cont_mid{ width:1200px; height:84px; overflow:hidden; margin:0 auto;}
.footer1 .cont_mid .txt_left{ width:800px; float:left;}
.footer1 .cont_mid .txt_left p{ color:#ccc; font-size:12px; line-height:12px; padding-bottom:12px;}
.footer1 .cont_mid .wechat_right{ width:300px; height:84px; float:right;}
.footer1 .cont_mid .wechat_right .wechat_bg{ height:84px; width:92px; background:url(../images/wechat_bg.png) 0 0 no-repeat;  float:right; text-align:right}
.footer1 .cont_mid .wechat_right .wechat_bg img{ width:80px; padding-top:2px; padding-right:2px;}
.footer1 .cont_mid .wechat_right .wechat_icon{  width:34px; height:34px;  background:url(../images/icon_com.png) 0px -523px no-repeat; float:right; margin-top:25px; margin-right:5px;}
.footer1 .cont_mid .wechat_right .wechat_txt{  height:34px; line-height:34px; font-size:14px;color:#ccc;  text-align:right; float:right; margin-top:25px; margin-right:3px;}
.footer2{ width:100%; min-width:1200px; height:18px; padding:12px 0; background:#212121; color:#ffba26; line-height:18px; text-align:center}
.footer2 img{ height:18px;}
.footer2 span,.footer2 a{ padding-left:10px;}
/*渚у鑸� */
.fl_nav{ float:left; width:210px; margin: 0 0 20px 0}
.fl_nav_fixed{ position:fixed; top:-15px; z-index:100}
.fr_main{ float:right; width:972px; margin-bottom:50px; position:relative}
.find_funds{min-height:650px; overflow:hidden;}
.fl_nav .fl_nav_top{ background:url(../images/flnav_03.png) no-repeat bottom center; width:210px; height:76px; margin:15px 0 0 0;}

.fl_nav ul li{ float:left; width:100%; background:#292929; line-height:79px;  position:relative}
.fl_nav ul li a{  display:block; color:#fff;font-size:16px; padding:0 0 0 58px;border-bottom:1px solid #212121;}
.fl_nav ul li a:hover{color:#309de6; text-decoration:none}
.fl_nav ul li i{ display:block; width:24px; height:24px; position:absolute; top:27px;; left:18px; background-repeat: no-repeat; }
.fl_nav ul li i.n1{ background:url(../images/flnavico.png) 0 0 no-repeat; }
.fl_nav ul li i.n2{ background:url(../images/flnavico.png) -24px 0 no-repeat; }
.fl_nav ul li i.n3{ background:url(../images/flnavico.png) -48px 0 no-repeat; }
.fl_nav ul li i.n4{ background:url(../images/flnavico.png) -72px 0 no-repeat; }
.fl_nav ul li i.n5{ background:url(../images/flnavico.png) -96px 0 no-repeat; }
.fl_nav ul li i.n6{ background:url(../images/flnavico.png) -120px 0 no-repeat; }
.fl_nav ul li i.arrow{ top:35px}
.fl_nav ul li i.up{ background-image:url(../images/sub_up.png); left:169px;}
.fl_nav ul li i.down{ background-image:url(../images/sub_down.png);left:169px; }
.fl_nav ul li.active i.n1{ background:url(../images/flnavico.png) 0 -24px no-repeat; }
.fl_nav ul li.active i.n2{ background:url(../images/flnavico.png) -24px -24px no-repeat; }
.fl_nav ul li.active i.n3{ background:url(../images/flnavico.png) -48px -24px no-repeat; }
.fl_nav ul li.active i.n4{ background:url(../images/flnavico.png) -72px -24px no-repeat; }
.fl_nav ul li.active i.n5{ background:url(../images/flnavico.png) -96px -24px no-repeat; }
.fl_nav ul li.active i.n6{ background:url(../images/flnavico.png) -120px -24px no-repeat; }
.fl_nav ul li.active a{background: url(../images/sub_hover.png) no-repeat left center; color:#309de6;}

.fl_nav ul.sub_list{ display:none}
.fl_nav ul.sub_list li{background:#212121; line-height:60px;  position:relative}
.fl_nav ul.sub_list li a{ display:block; color:#fff;font-size:16px; padding:0 0 0 58px;border-bottom:1px solid #212121;}
.fl_nav ul.sub_list li.active a{background: url(../images/sub_hover.png) no-repeat left center; color:#309de6}
.fl_nav ul.sub_list li a:hover{color:#309de6}

/*
.all_per{ min-height:100%; position:relative; padding-bottom:166px}*/
.footer_bottom{ width:100%; height:166px; position:absolute; bottom:0;}


/*鍙充笅瑙�*/
.sideToolBar {
	border:1px solid #dbdbdb;
	border-bottom:none;
	width: 38px;
	position: fixed;
	right: 10px;
	top: 45%;
	z-index: 9996
}
.sideToolBar span {
	padding:11px;
	display: block;
	background-color: #fff;
	border-bottom:1px solid #dbdbdb;
}
.sideToolBar span:hover {
	color: #fff;
	background-color: #309de6;

 }
.sideToolBar span i{
	display:block;
	width:18px;
	 height:18px;
	color: #fff;
	background-image:url(../images/icon_com.png);
	border-radius: 3px;
 }
.sideToolBar .link01 i {
	background-position:-4px -109px;
}
.sideToolBar .link01:hover i {
	background-position:-4px -137px;
}

.sideToolBar .link02 i{
	background-position: -37px -109px
}
.sideToolBar .link02:hover i{
	background-position: -37px -137px
}

.sideToolBar .link03 i{
	background-position: -71px -109px
}
.sideToolBar .link03:hover i{
	background-position: -71px -137px
}

.sideToolBar .wechatQRCode {
	cursor: default;
	background-position: 7px -584px
}

.sideToolBar .returnTop i{
	display: block;
	background-position: -7px -879px;
	cursor:pointer
}
.sideToolBar .returnTop:hover i{
	background-position: -37px -879px;
}


.sideToolBar .link02 i {
	top: 51px
}
.sideToolBar .returnTop i {
	top: 102px
}
.sideToolBar .wechatQRCode i {
	height: 181px;
	position: absolute;
	top: -14px;
	background: url(../images/qqwei-v2.png) no-repeat
}



.sideToolBar span, .sideToolBar span i {
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear
}