body{ background:#ecf1f5;}
 
/*融资项目--列表*/
.content{ margin:0 auto; width:1200px; }
.title_h1{  height:62px; border-bottom:2px solid #309de6; position:relative;}
.title_h1 h1{ padding:0 35px 0 15px; border-bottom:6px solid #309de6; position:absolute; left:0; bottom:-4px; height:60px;font:500 20px/70px "Microsoft YaHei"; color:#333; overflow:hidden}
.title_h1 h1 img{ padding-top:5px; padding-left:5px;}
.title_h1 .select_btn{ height:30px; width:100px; border-radius:15px; color:#fff; cursor:pointer; text-align:center; line-height:30px; text-decoration:none; float:right; margin-left:5px; margin-top:25px}
.title_h1 .select_btn2{ display:none}
.title_h1 .add_btn{ background-image:url(../images/icon_plus.png); background-repeat:no-repeat; background-position:18px 9px; padding-left: 20px; width:90px;  }
 
/*项目详情 */
.crumbs{ line-height:18px; font-size:12px; padding:25px 0 17px 0; color:#666}
.crumbs a{color:#666; padding:0 5px;}

.content .projec_main{ }

.projec_title{ line-height:60px; height:60px; font-size:18px; color:#3399ff; padding:0 22px; background:#f3f5fa;}
.projec_title .select_btn{ cursor:pointer; border:1px solid #666;border-radius:5px; color:#666; font-size:12px; height:26px; line-height:26px; display:block; float: right; margin:16px 7px 0 7px; padding:0 10px; }

.projec_title i.llcs{background-position:-36px -321px; }


.projec_01{ margin:0 0 10px 0; background:#fff; position:relative;min-height:260px}
.projec_01 .pro_01{ padding:40px 0}
.projec_01 .pro_01 li{ float:left; padding:0 40px; border-right:1px solid #e6e6e6; font-size:14px;}
.projec_01 .pro_01 li:last-child{ border:none}
.projec_01 .pro_01 li .name{ color:#333; padding:0 0 15px 0;}
.projec_01 .pro_01 li .con{ color:#3399ff;}
.projec_01 .pro_01 li .con02{ color:#ffcc33; font-size:12px; }
.projec_01 .pro_01 li .con02 span{ font-size:16px;}

.projec_01 .pro_02{ padding:0 0 20px 40px;}
.projec_01 .pro_02 i{ display:block; width:21px; height:21px; padding:0 3px 0 0; background-image:url(../images/icon_com.png); float:left;}
.projec_01 .pro_02 i.ss01{ background-position:-2px -800px}
.projec_01 .pro_02 i.ss02{ background-position:-34px -800px}
.projec_01 .pro_02 dt{ float:left; font-size:14px; color:#333; line-height:21px;}
.projec_01 .pro_02 dd{ font-size:12px; line-height:24px; float:left; width:708px; }
.projec_01 .pro_02:after{clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }

.projec_01 .progress{ width:31px; height:219px; background:url(../images/progr_bg.png); position:absolute; right:180px; top:20px; z-index:1}
.projec_01 .progress ul{ position:relative; z-index:3}
.projec_01 .progress li{ margin:0 0 30px 0; width:100px; line-height:33px; }
.projec_01 .progress li:after{clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }
.projec_01 .progress li i{ display:block; width:30px; height:30px; float:left; padding-right:10px; background:url(../images/icon_com.png);}
.projec_01 .progress li .name{ float:left; font-size:14px;}
.projec_01 .progress li .jx{ color:#309de6;}
.projec_01 .progress li i.p00{ background:none}
.projec_01 .progress li i.p01{ background-position:-64px -794px}
.projec_01 .progress li i.p02{ background-position:-66px -840px}
.projec_01 .progress span{ z-index:2;width:31px; height:219px; background:url(../images/progr_bg02.png); position:absolute;}
.projec_01 .progress span.pro1{ height:30px;}
.projec_01 .progress span.pro2{height:93px;}
.projec_01 .progress span.pro3{height:157px;}
.projec_01 .progress span.pro4{ height:219px; }

.projec_02{ margin:0 0 10px 0; background:#fff;}
.projec_02 ul li{ float:left; width:376px; border-right:1px solid #e6e6e6; margin:21px 0 21px 23px; }
.projec_02 .name{ font-size:18px; color:#3399ff;}
.projec_02 .name span{ font-size:30px;}
.projec_02 .con{ font-size:14px; color:#666666;}
.projec_02 li:last-child{ border:none}


.projec_03{ background:#fff; margin:0 0 73px 0}
.projec_03 .pro_title{ float:left; width:148px; border-left:5px solid #ffbf35; height:558px; background:#fff8ea url(../images/projec_53.jpg) no-repeat center}
.projec_03 .pro_main{ padding:48px 37px;float:left;width: 973px;}
.projec_03 .pro_m{ background:#fbfdff; border:1px solid #a3d7fa; width:460px;    border-radius: 7px;}
.projec_03 .title_m{ font-size:14px; color:#309de6; text-align:center; padding:20px 0;}
.projec_03 .pic01{ height:90px; background:url(../images/project_68.jpg) no-repeat center top; }
.projec_03 .pic02{ height:90px; background:url(../images/project_63.jpg) no-repeat center top;}
.projec_03 p{ font-size:12px; line-height:24px; padding:0 39px 20px 39px;}
.projec_03 dl{ padding:40px 0; color:#666666; }
.projec_03 dl dt{ float:left; font-size:14px; color:#333; line-height:21px; font-size:14px;}
.projec_03 dl dd{ font-size:12px; line-height:24px; float:left; width:930px; }
.projec_03 .mzsm {border:1px solid #ffbf35; background:#fffefb; border-radius: 7px; padding:20px 0;}
.projec_03 .mzsm .name{ font-size:14px; color:#ffbf35; padding:0 15px;}
.projec_03 .mzsm .con{ padding:0 15px; width:882px; line-height:24px;border-left:1px dashed #ffbf35; }


.btns_wrap{ height:28px; margin-top:20px; width:440px; float:right;}
.btns_wrap .proj_btn{ height:26px;  text-align:left; border:1px solid #666; border-radius:4px;font:500 12px/26px "SimSun";}
.btns_wrap  a,.btns_wrap  span{ color:#666; float:right; margin-left:32px; text-decoration:none}
.btns_wrap  a{ cursor:pointer}
.btns_wrap .proj_btn3{ margin-left:0;}
.btns_wrap .proj_btn:hover{ background-color:#fff}
.btns_wrap .proj_btn i{ height:26px; width:32px; float:left;background:url(../images/icon_com.png) no-repeat;background-position:-29px -317px;}
.btns_wrap .proj_btn i.icons3{ background-position:6px -198px}
.btns_wrap .proj_btn i.icons2{ background-position:-31px -198px}
.btns_wrap .proj_btn2_click{ border-color:#ffba26;color:#ffba26}
.btns_wrap .proj_btn2_click i.icons2{ background-position:-31px -223px}
.btns_wrap .proj_btn3_click{ border-color:#309de6;color:#309de6}
.btns_wrap .proj_btn3_click i.icons3{ background-position:6px -223px}
.btns_wrap .proj_btn2_click:hover,.btns_wrap .proj_btn3_click:hover{ background-color:#fff}